@import url("https://fonts.googleapis.com/css?family=Mukta");

.Collapsible {

  margin-top: 8px;
  text-align: center;

}

.Collapsible__trigger {
  font-family: "Mukta", sans-serif;
  font-size: 28px;
  
}
.sheet{
  background-color: aqua;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 4px 1px -2px rgba(0,0,0,0.2);
}
/* @media only screen and (max-width: 800px) {
  .Collapsible {
    width: 80vw;
  }
}
@media only screen and (min-width: 801px) {
  .Collapsible {
    width: 60vw;
  }
} */
