@import url("https://fonts.googleapis.com/css?family=Mukta");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
body {
    margin: 0;
    padding: 0;
    overflow-y:scroll;
    background-color: #093145;
    font-family: "Mukta", sans-serif;
  }

  .awesome-landing {
    @media (max-width: 600px) {
      width: 80vw;
      height: 20vh;
      margintop: 12px;
    }
    @media (min-width: 601px) {
      width: 40vw;
      height: 20vh;
      margintop: 20px;
    }
  }